# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.sass-cache/
.versions/
bower_components/
coverage/
dist/
node_modules/
platforms/
plugins/
tmp/
temp/
typings/
www/build/
$RECYCLE.BIN/

app/**/*.js
gulpfile.js
**/*.map

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
