// http://ionicframework.com/docs/v2/theming/


// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.
$text-color:                 #808f95 !default;
$link-color:                 #387ef5 !default;
$paragraph-color:            $text-color !default;
$background-color:           #111010 !default;
$subdued-text-color:         #fff !default;

$font-family-base:           -apple-system, "Helvetica Neue", "Roboto", sans-serif !default;
$font-size-base:             1.4rem !default; // 1.4rem == 14px

$toolbar-background:         #000 !default;
$toolbar-border-color:       #b2b2b2 !default;
$toolbar-text-color:         $text-color !default;
$toolbar-active-color:       $link-color !default;
$toolbar-inactive-color:     #8c8c8c !default;

$list-text-color:            $text-color !default;
$list-background-color:      $background-color !default;
$list-border-color:          #c8c7cc !default;

$card-md-background-color:   $background-color !default;
$card-md-text-color:         $text-color !default;
$card-md-title-text-color:   $subdued-text-color !default;
$card-md-box-shadow:         0 2px 2px 0 rgba(220,220,220,.4), 0 3px 1px -2px rgba(220,220,220,.5), 0 1px 5px 0 rgba(220,220,220,.4) !default;

$card-ios-background-color:  $background-color !default;
$card-ios-text-color:        $text-color !default;
$card-ios-title-text-color:  $subdued-text-color !default;
$card-ios-box-shadow:        0 1px 2px rgba(220,220,220,.5) !default;

.toolbar-title { 
  color: #fff!important;
}

ion-card-content {
  color: #808f95!important;
}

ion-card-header {
  color: #b2b2b2!important;
}



// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);
