<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Notepad</ion-title>
</ion-navbar>


<ion-content>  
  
  <ion-list *ngFor="#note of notes">      
    <ion-card *ngIf="note" (click)="editNote(note)">
      <ion-card-header>{{note.title}}</ion-card-header>
      <ion-card-content>{{note.note}}</ion-card-content>
    </ion-card>  
  </ion-list>
  <div class="buffer"></div>
  
</ion-content>

<button fab fab-right fab-bottom (click)="addNote()">
  <ion-icon name="add"></ion-icon>
</button>
<button fab fab-left fab-bottom danger (click)="deleteAllNotes()">
  <ion-icon name="close"></ion-icon>
</button>