<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Gallery</ion-title>
</ion-navbar>


<ion-content>
  <ion-refresher (refresh)="updateNotes($event, refresher)" pullingText="Grabbing images...">
  </ion-refresher>
  <ion-list *ngFor="#image of images">      
    <ion-card *ngIf="image" (click)="editNote(image)">
      <ion-card-header>{{image.title}}</ion-card-header>
    </ion-card>  
  </ion-list>
  <div class="buffer"></div>
  
</ion-content>

<button fab fab-right fab-bottom (click)="addNote()">
  <ion-icon name="add"></ion-icon>
</button>
<button fab fab-left fab-bottom danger (click)="deleteAllNotes()" on-hold="bye()">
  <ion-icon name="close"></ion-icon>
</button>